In [1]:
import pandas as pd
uber_data=pd.read_csv('Uber.csv')
uber_data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [3]:
print(uber_data.shape)
print(uber_data.info())
print(uber_data.describe())
print(uber_data.isnull().sum())

(1156, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB
None
             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000
START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [7]:
import pandas as pd 
df=pd.read_csv("Uber.csv",sep=",",dtype={"Miles":int},skiprows=1,nrows=5,na_values=["NA","Unknown"])
print(df)
print(uber_data.head())
print(uber_data.tail())
print(uber_data.iloc[0]) 
print(uber_data.iloc[2:8])  
print(uber_data.iloc[2:8,1:3])  
print(uber_data.iloc[:,2:6])  
print(uber_data.iloc[:,:])

   1/1/2016 21:11  1/1/2016 21:17  Business      Fort Pierce    Fort Pierce.1  \
0   1/2/2016 1:25   1/2/2016 1:37  Business      Fort Pierce      Fort Pierce
1  1/2/2016 20:25  1/2/2016 20:38  Business      Fort Pierce      Fort Pierce
2  1/5/2016 17:31  1/5/2016 17:45  Business      Fort Pierce      Fort Pierce
3  1/6/2016 14:42  1/6/2016 15:49  Business      Fort Pierce  West Palm Beach
4  1/6/2016 17:15  1/6/2016 17:19  Business  West Palm Beach  West Palm Beach

    5.1   Meal/Entertain
0   5.0              NaN
1   4.8  Errand/Supplies
2   4.7          Meeting
3  63.7   Customer Visit
4   4.3   Meal/Entertain
      START_DATE*       END_DATE* CATEGORY*       START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce  West Palm Beach

   MILES*         PURPOSE*
0     5.1   Meal/Entertain
1     5.0              NaN
2     4.8  Errand/Supplies
3     4.7          Meeting
4    63.7   Customer Visit
           START_DATE*         END_DATE* CATEGORY*            START*  \
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals               NaN       NaN               NaN

                 STOP*   MILES*        PURPOSE*
1151  Unknown Location      3.9  Temporary Site
1152  Unknown Location     16.2         Meeting
1153           Gampaha      6.4  Temporary Site
1154         Ilukwatta     48.2  Temporary Site
1155               NaN  12204.7             NaN
START_DATE*    1/1/2016 21:11
END_DATE*      1/1/2016 21:17
CATEGORY*            Business
START*            Fort Pierce
STOP*             Fort Pierce
MILES*                    5.1
PURPOSE*       Meal/Entertain
Name: 0, dtype: object
      START_DATE*       END_DATE* CATEGORY*           START*            STOP*  \
2  1/2/2016 20:25  1/2/2016 20:38  Business      Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business      Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business      Fort Pierce  West Palm Beach
5  1/6/2016 17:15  1/6/2016 17:19  Business  West Palm Beach  West Palm Beach
6  1/6/2016 17:30  1/6/2016 17:35  Business  West Palm Beach       Palm Beach
7  1/7/2016 13:27  1/7/2016 13:33  Business             Cary             Cary

   MILES*         PURPOSE*
2     4.8  Errand/Supplies
3     4.7          Meeting
4    63.7   Customer Visit
5     4.3   Meal/Entertain
6     7.1          Meeting
7     0.8          Meeting
        END_DATE* CATEGORY*
2  1/2/2016 20:38  Business
3  1/5/2016 17:45  Business
4  1/6/2016 15:49  Business
5  1/6/2016 17:19  Business
6  1/6/2016 17:35  Business
7  1/7/2016 13:33  Business
     CATEGORY*            START*             STOP*   MILES*
0     Business       Fort Pierce       Fort Pierce      5.1
1     Business       Fort Pierce       Fort Pierce      5.0
2     Business       Fort Pierce       Fort Pierce      4.8
3     Business       Fort Pierce       Fort Pierce      4.7
4     Business       Fort Pierce   West Palm Beach     63.7
...        ...               ...               ...      ...
1151  Business           Kar?chi  Unknown Location      3.9
1152  Business  Unknown Location  Unknown Location     16.2
1153  Business        Katunayake           Gampaha      6.4
1154  Business           Gampaha         Ilukwatta     48.2
1155       NaN               NaN               NaN  12204.7

[1156 rows x 4 columns]
           START_DATE*         END_DATE* CATEGORY*            START*  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals               NaN       NaN               NaN

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0              NaN
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155               NaN  12204.7              NaN

[1156 rows x 7 columns]

In [9]:
print(uber_data.head(100))

        START_DATE*        END_DATE* CATEGORY*       START*            STOP*  \
0    1/1/2016 21:11   1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1     1/2/2016 1:25    1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2    1/2/2016 20:25   1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3    1/5/2016 17:31   1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4    1/6/2016 14:42   1/6/2016 15:49  Business  Fort Pierce  West Palm Beach
..              ...              ...       ...          ...              ...
95   2/12/2016 8:21   2/12/2016 8:42  Business         Cary           Durham
96  2/12/2016 10:45  2/12/2016 10:52  Business       Durham      Morrisville
97  2/12/2016 11:14  2/12/2016 11:35  Business  Morrisville          Raleigh
98  2/12/2016 13:02  2/12/2016 13:36  Business      Raleigh             Cary
99  2/12/2016 14:49  2/12/2016 15:06  Business         Cary      Morrisville

    MILES*         PURPOSE*
0      5.1   Meal/Entertain
1      5.0              NaN
2      4.8  Errand/Supplies
3      4.7          Meeting
4     63.7   Customer Visit
..     ...              ...
95     8.5   Temporary Site
96     2.6   Temporary Site
97    17.0   Customer Visit
98    18.0          Meeting
99     8.4          Meeting

[100 rows x 7 columns]

In [11]:
print(uber_data.iloc[1:6,-3:-1])

             STOP*  MILES*
1      Fort Pierce     5.0
2      Fort Pierce     4.8
3      Fort Pierce     4.7
4  West Palm Beach    63.7
5  West Palm Beach     4.3

In [16]:
print(uber_data.iloc[50:100])

        START_DATE*        END_DATE* CATEGORY*           START*  \
50  1/28/2016 12:28  1/28/2016 13:00  Business             Cary
51  1/28/2016 15:11  1/28/2016 15:31  Business  Meredith Townes
52  1/28/2016 16:21  1/28/2016 16:51  Business          Raleigh
53   1/29/2016 9:31   1/29/2016 9:45  Business             Cary
54  1/29/2016 10:56  1/29/2016 11:07  Business             Cary
55  1/29/2016 11:43  1/29/2016 12:03  Business             Cary
56  1/29/2016 13:24  1/29/2016 13:47  Business           Durham
57  1/29/2016 18:31  1/29/2016 18:52  Business             Cary
58  1/29/2016 21:21  1/29/2016 21:40  Business             Apex
59  1/30/2016 16:21  1/30/2016 16:33  Business             Cary
60  1/30/2016 18:09  1/30/2016 18:24  Business             Apex
61   2/1/2016 10:35   2/1/2016 11:15  Business             Cary
62   2/1/2016 12:10   2/1/2016 12:43  Business      Chapel Hill
63   2/1/2016 12:56   2/1/2016 13:07  Business       Northwoods
64   2/2/2016 13:04   2/2/2016 13:23  Business      Whitebridge
65   2/2/2016 13:51   2/2/2016 14:06  Business             Cary
66   2/2/2016 14:38   2/2/2016 14:42  Business             Cary
67    2/4/2016 8:40    2/4/2016 9:01  Business             Cary
68    2/4/2016 9:37   2/4/2016 10:09  Business      Morrisville
69   2/4/2016 10:26   2/4/2016 10:32  Business             Cary
70   2/4/2016 15:59   2/4/2016 16:03  Business             Cary
71   2/4/2016 16:35   2/4/2016 16:39  Business             Cary
72   2/4/2016 18:04   2/4/2016 18:31  Business      Whitebridge
73   2/4/2016 20:36   2/4/2016 20:55  Business             Cary
74   2/5/2016 11:47   2/5/2016 12:07  Business             Cary
75   2/5/2016 13:22   2/5/2016 13:41  Business           Durham
76   2/6/2016 16:20   2/6/2016 16:53  Business             Cary
77   2/6/2016 18:57   2/6/2016 19:21  Business          Raleigh
78   2/6/2016 19:28   2/6/2016 19:37  Business   Edgehill Farms
79   2/7/2016 16:49   2/7/2016 17:01  Business             Cary
80   2/7/2016 18:03   2/7/2016 18:17  Business             Apex
81   2/7/2016 18:39   2/7/2016 18:53  Business             Cary
82   2/7/2016 20:22   2/7/2016 20:40  Business      Morrisville
83   2/8/2016 12:57   2/8/2016 13:08  Business      Whitebridge
84   2/8/2016 14:00   2/8/2016 14:10  Business   Edgehill Farms
85   2/9/2016 10:54   2/9/2016 11:07  Personal      Whitebridge
86   2/9/2016 11:43   2/9/2016 11:50  Personal       Northwoods
87   2/9/2016 13:36   2/9/2016 13:52  Personal       Tanglewood
88   2/9/2016 13:58   2/9/2016 14:02  Personal          Preston
89   2/9/2016 18:55   2/9/2016 19:11  Business             Cary
90   2/9/2016 20:24   2/9/2016 20:40  Business      Morrisville
91  2/11/2016 16:28  2/11/2016 17:10  Business             Cary
92  2/11/2016 17:49  2/11/2016 18:10  Business         Eastgate
93  2/11/2016 18:24  2/11/2016 18:46  Business          Raleigh
94  2/11/2016 20:36  2/11/2016 20:51  Business      Morrisville
95   2/12/2016 8:21   2/12/2016 8:42  Business             Cary
96  2/12/2016 10:45  2/12/2016 10:52  Business           Durham
97  2/12/2016 11:14  2/12/2016 11:35  Business      Morrisville
98  2/12/2016 13:02  2/12/2016 13:36  Business          Raleigh
99  2/12/2016 14:49  2/12/2016 15:06  Business             Cary

                 STOP*  MILES*         PURPOSE*
50             Raleigh    19.0   Temporary Site
51    Leesville Hollow    14.7          Meeting
52                Cary    15.7          Meeting
53                Cary     4.6   Customer Visit
54                Cary     5.2          Meeting
55              Durham    10.4          Meeting
56                Cary    10.1          Meeting
57                Apex     5.8  Errand/Supplies
58                Cary     5.5   Meal/Entertain
59                Apex     5.7  Errand/Supplies
60                Cary     5.7   Customer Visit
61         Chapel Hill    19.4   Customer Visit
62                Cary    23.3   Customer Visit
63         Whitebridge     3.9   Meal/Entertain
64  Williamsburg Manor     8.3          Meeting
65                Cary     6.0  Errand/Supplies
66                Cary     1.6  Errand/Supplies
67         Morrisville     5.2  Errand/Supplies
68                Cary     9.7   Meal/Entertain
69                Cary     1.6   Meal/Entertain
70                Cary     1.1   Meal/Entertain
71                Cary     1.6   Meal/Entertain
72     Macgregor Downs     9.0          Meeting
73                Cary     7.7          Meeting
74              Durham    10.4          Meeting
75                Cary    10.4          Meeting
76             Raleigh    11.4  Between Offices
77                Cary     9.0  Errand/Supplies
78         Whitebridge     3.2   Meal/Entertain
79                Apex     5.6  Errand/Supplies
80                Cary     5.7   Customer Visit
81         Morrisville     6.1   Temporary Site
82                Cary     6.1          Meeting
83      Edgehill Farms     4.3   Meal/Entertain
84         Whitebridge     2.7   Meal/Entertain
85          Northwoods     5.3              NaN
86          Tanglewood     3.0              NaN
87             Preston     5.1              NaN
88         Whitebridge     1.5              NaN
89         Morrisville     6.1              NaN
90                Cary     6.1   Meal/Entertain
91             Raleigh    17.3   Meal/Entertain
92      Walnut Terrace     5.7   Meal/Entertain
93         Morrisville    13.5   Temporary Site
94                Cary     6.1   Temporary Site
95              Durham     8.5   Temporary Site
96         Morrisville     2.6   Temporary Site
97             Raleigh    17.0   Customer Visit
98                Cary    18.0          Meeting
99         Morrisville     8.4          Meeting

In [18]:
print(uber_data.iloc[1:100,1:4])

          END_DATE* CATEGORY*           START*
1     1/2/2016 1:37  Business      Fort Pierce
2    1/2/2016 20:38  Business      Fort Pierce
3    1/5/2016 17:45  Business      Fort Pierce
4    1/6/2016 15:49  Business      Fort Pierce
5    1/6/2016 17:19  Business  West Palm Beach
..              ...       ...              ...
95   2/12/2016 8:42  Business             Cary
96  2/12/2016 10:52  Business           Durham
97  2/12/2016 11:35  Business      Morrisville
98  2/12/2016 13:36  Business          Raleigh
99  2/12/2016 15:06  Business             Cary

[99 rows x 3 columns]

In [20]:
import pandas as pd
file_path = 'Uber.csv'
df = pd.read_csv(file_path)
date_columns = ['START_DATE*', 'END_DATE*'] 
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')
object_columns = df.select_dtypes(include='object').columns  
for col in object_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')  
print("Updated Data Types:\n", df.dtypes)
print("\nPreview of Converted DataFrame:\n", df.head())

Updated Data Types:
 START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*             float64
START*                float64
STOP*                 float64
MILES*                float64
PURPOSE*              float64
dtype: object

Preview of Converted DataFrame:
           START_DATE*           END_DATE*  CATEGORY*  START*  STOP*  MILES*  \
0 2016-01-01 21:11:00 2016-01-01 21:17:00        NaN     NaN    NaN     5.1
1 2016-01-02 01:25:00 2016-01-02 01:37:00        NaN     NaN    NaN     5.0
2 2016-01-02 20:25:00 2016-01-02 20:38:00        NaN     NaN    NaN     4.8
3 2016-01-05 17:31:00 2016-01-05 17:45:00        NaN     NaN    NaN     4.7
4 2016-01-06 14:42:00 2016-01-06 15:49:00        NaN     NaN    NaN    63.7

   PURPOSE*
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN